<div id="login">
    <div class="card mx-auto my-5" style="width: 20rem;">
      <div class="card-header row">
        <h4 class="ml-2">Login</h4>
        <img src="/images/close.svg" class=" mt-1 mr-3 ml-auto" style="height: 2rem;" onclick="login_off()">
      </div>
      <div class="card-body">
          <form>
              <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
          </form>
      </div>
    </div>
</div>